<div class="footer-list-item">
  <div class="footer-item">
    <div class="u-paddingBottom--normal">
      <a target="_blank" class="u-cursor--pointer" href="https://www.shipyard.build">
        <img width="130" src="{{ .Site.BaseURL }}images/footer_logo@2x.png"/>
      </a>
    </div>
    <div class="u-fontSize--small u-color--dustyGray u-marginBottom--small u-hidden--mobileTablet">&copy; {{ now.Format "2006" }} <a> &nbsp;Shipyard</a></div>
    <div class="u-fontSize--small u-color--dustyGray u-hidden--mobileTablet">All Rights Reserved</div>
  </div>
</div><!--
--><div class="footer-list-item">
  <div class="footer-item">
    <p class="u-fontWeight--medium u-color--tuna">Help Center</p>
    <ul>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="/guides">Guides</a></li>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="/docs">Documentation</a></li>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="/api">API Reference</a></li>
    </ul>
  </div>
</div><!--
--><div class="footer-list-item">
  <div class="footer-item">
    <p class="u-fontWeight--medium u-color--tuna">Company</p>
    <ul>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="https://www.shipyard.build">About Shipyard</a></li>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="https://blog.shipyard.tools">Shipyard Blog</a></li>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="https://www.shipyard.build/careers">Careers</a></li>
    </ul>
  </div>
</div><!--
--><div class="footer-list-item">
  <div class="footer-item">
    <p class="u-fontWeight--medium u-color--tuna">Contact</p>
    <ul>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="https://twitter.com/shipyardbuild">Twitter</a></li>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="mailto:contact@shipyard.build">Email</a></li>
    </ul>
  </div>
</div><!--
--><div class="footer-list-item">
  <div class="footer-item">
    <p class="u-fontWeight--medium u-color--tuna">More</p>
    <ul>
      <li><a class="u-color--dustyGray u-textDecoration--underlineOnHover" href="https://github.com/shipyardbuild">GitHub</a></li>
    </ul>
  </div>
</div>
